

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
a:hover, a:visited, a{
	text-decoration: none;
}
/*header area*/

.top-header{
	background: #019691;
	position: fixed;
	width: 100%;
	z-index: 333;
}
.header-row{
	margin: 0;
	padding: 0;
}
.top-header img.logo{
	float: left;
	margin-top: 8px;
	margin-bottom: 30px;
	transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	-ms-transition:all 0.7s ease 0s;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  margin-top: 23px;
  transition:all 0.7s ease 0s;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transition:all 0.7s ease 0s;
	-o-transition:all 0.7s ease 0s;
	-ms-transition:all 0.7s ease 0s;
}
.navbar-toggle span{
	color: #fff;
}
ul.nav{
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-nav>li>a {
 	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
	padding: 15px 20px;
	border-radius: 5px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: red;
	background-color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  margin-top: 4px;
}


/*banner area*/

.banner h2{
	padding-top: 50px;
	font-size: 46px;
	color: #019691;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 90px;
	margin-bottom: 30px;
}

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #019691; /* old IE */
    background-color: #019691; /* Modern Browsers */
}


/*about section*/
.about{
	background: #fff;
}
.about h2{
	font-size: 46px;
	color: #019691;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 90px;
	margin-bottom: 30px;
}

/*gallery section*/

.gallery-section{
	padding-top: 50px;
	padding-bottom: 50px;
}

img{
	padding-bottom: 20px;
}

img:hover{
	border-radius: 50%;
}

/*footer area*/

.footer{
	background: #000;
}
.footer p{
	color: #7e8287;
	font-size: 12px;
	padding:25px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.nivo-lightbox-image img{
	width: 600px;
	height: 400px;
}


